Flask
mongoengine
wtforms
flask_wtf
Flask
Click>=7.0
bcrypt
Flask-Security-Too
flask-mongoengine
Flask-Caching
itsdangerous
Jinja2
MarkupSafe
Werkzeug
gunicorn
flask_login
blinker
flask_principal
passlib
email_validator
requests
pymongo
beautifulsoup4