{% extends "base.html" %}
{% block content %}

<section class="page-section Intro" id="Intro">
    <div class="container">

        <!-- Intro Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">FLASK PACKAGES</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Intro Grid Items-->
        <div class="row justify-content-center">
            <!-- Intro Items-->
        </div>
        <div class="flask_packages_intro" style="text-align-last: center;">
            <p>
                We're Flask Packages.
            </p>
            <p>
                We offer a centralized Flask Packages management to the community for the Flask programming language.
            </p>
            <p>
                Flask Packages helps you find and install software. Developed and shared by the Flask community.
            </p>
        </div>
    </div>
</section>
<section class="page-section bg-primary text-white mb-0" id="lastest_changes">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-white">LATEST CHANGES</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
<div class="list-group">
{% for latest_project in latest_projects %}
  <a href="/project/{{latest_project.name}}" class="list-group-item list-group-item-action active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{latest_project.name}}</h5>
      <small>{{latest_project.released}}</small>
    </div>
    <p class="mb-1">{{latest_project.lastest_version}}</p>
    <small>{{latest_project.license}}</small>
  </a>
{% endfor %}
</div>
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="pre-wrap lead"></p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="pre-wrap lead"></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
