.content {
    max-width: 1200px;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}
.package__desc {
    display: flex;
    color: gray;
}

.package_info {
    display: flex;
    margin-top: 10px;
}

.dotted_line {
    border-bottom: 1px dotted;
    width: 100%;
    flex: 1 1 auto;
    height: 1.1rem;
    margin-right: 5px;
    margin-left: 5px;
}

.but {
    width: 100%;
}

.line {
    width: 100%;
    place-content: space-between;
    display: flex;
}

.tab-content {
    margin-top: 15px;
    margin-right: 15px;
    width: 66%;
}

.static_info {
    margin-top: 15px;
    width: 33.333333%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.code {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px 10px 34px;
    border: 1px #cccccc solid;
    margin-bottom: 10px;

}
.verlic {
    border-bottom: 1px solid lightgrey;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.version {
    width: 50%;
    align-self: center;
}

.license {
    width: 50%;
}

.link {
    color: black;
    text-decoration: none;
}

* > img,svg {
    max-width: 100%;
}

.homepage {
    border-bottom: 1px solid lightgrey;
}

.maintainer {
    border-bottom: 2px solid rgb(20, 106, 144);
}
